table {
    background-color: $primary-color;
  
    & > tbody > tr > td, th {
      vertical-align: middle;
      color: #FFF;
    }
  
    & caption {
      color: #FFF;
    }
  
    button {
      font-size: 1.8rem;
      border: none;
      display: inline;
      width: 24px;
      padding: 0;
      
      &:first-child {
        margin-right: 10px;
      }
  
      &:hover {
          background-color: transparent;
          color: $tertiary-color;
      }
    }
  
    .material-icons {
      line-height: inherit;
    }
  }
  