{% extends 'main/base.html' %}

{% block content %}
<div class="container-center">
    <h1>Nie jesteś sam</h1>
    <h2>Zgłoś problem, a my go rozwiążemy</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'dashboard' %}">
        <button class="standalone-button" type="submit">Panel główny</button>
    </a>
    {% else %}
    <div class="buttons">
        <a href="{% url 'login' %}">
            <button type="submit">Zaloguj</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
