<div class="modal fade" id="issue-modal-{{issue.id}}" tabindex="-1" aria-labelledby="issue-modal-label-{{issue.id}}"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="issue-modal-label-{{issue.id}}">Modyfikacja zgłoszenia</h5>
            <button type="button" data-bs-dismiss="modal" aria-label="Close">
                <i class="material-icons">close</i>
            </button>
        </div>
        <form action="{% url 'update_issue' issue.id  %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group row">
                    <label for="title" class="col-md-4 offset-md-1 col-form-label">Tytuł</label>
                    <div class="col-md-6">
                        <input id="id_title" type="text" class="form-control" name="title" value="{{ issue.title }}"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-md-4 offset-md-1 col-form-label">Opis</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="id_description" name="description"
                            rows="3">{{ issue.description }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deadline" class="col-md-4 offset-md-1 col-form-label">Termin</label>
                    <div class="col-md-6">
                        <input id="datetimepicker" name="deadline" type="text" value="{{ issue.deadline | date:'Y-m-d' }} {{ issue.deadline | time:'H:i' }}">
                    </div>
                </div>
                {% load has_group %}
                {% if request.user|has_group:"Administrators" %}
                <div class="form-group row">
                    <label for="assignee" class="col-md-4 offset-md-1 col-form-label">Pracownik</label>
                    <div class="col-md-6">
                        <select class="form-select" name="assignee" aria-label="Wybór przypisanego pracownika" {% if issue.status == 'done' and not request.user|has_group:'Administrators' %} disabled {% endif %}>
                            {% for user in staff %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                {% if not request.user|has_group:"Users" %}
                <div class="form-group row">
                    <label for="status" class="col-md-4 offset-md-1 col-form-label">Status</label>
                    <div class="col-md-6">
                        <select class="form-select" name="status" aria-label="Wybór statusu zgłoszenia">
                            {% for key, value in issue.STATUS %}
                            <option {% if issue.status == key %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                {% if not request.user|has_group:"Users" %}
                <div class="form-group row">
                    <label for="solution" class="col-md-4 offset-md-1 col-form-label">Rozwiązanie</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="id_solution" name="solution"
                            rows="3">{{ issue.solution }}</textarea>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit">
                    Zapisz
                </button>
            </div>
        </form>
    </div>
</div>
</div>
<script>
$('#datetimepicker').datetimepicker({
    format: 'Y-m-d H:i',
    step: 5,
});
</script>